html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("https://wallpapergod.com/images/hd/purple-aesthetic-1280X640-wallpaper-67jxxuz63gaxpq31.jpeg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    display: flex; 
    justify-content: center; 
    align-items: center; 

h1 {
    color: rgb(228, 153, 218);
    text-align: center; 
    font-size: 5em; 
    margin-bottom: 600px; 
}

p {
    color: rgb(0, 0, 0);
    text-align: left; 
    font-size: 1.5em; 
}

div {
    width: 800px;
    height: auto; 
    padding: 10px; 
    border: 10px solid rgba(250, 246, 246, 0); 
}
}